services:
  api:
    build:
      context: .
    container_name: reho-ai-service-api-v2
    restart: always 
    init: true
    
    env_file:
      - ./.env 
      
    ports:
      - "8070:8000" 
      
    depends_on:
      - redis
      
    command: ["/app/.venv/bin/uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000"]
    
  redis:
    image: redis:7.0-alpine
    container_name: redis_cache
    restart: always
    expose:
      - 6379 
    volumes:
      - redis_data:/data

volumes:
  redis_data: